/*fonts*/
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('../fonts/Gilroy-Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: local('../fonts/Gilroy-ExtraBold'), local('Gilroy-ExtraBold'),
	url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
	url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('../fonts/Gilroy-Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-SemiBold.eot');
	src: local('../fonts/Gilroy SemiBold'), local('Gilroy-SemiBold'),
	url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-SemiBold.woff') format('woff'),
	url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.eot');
	src: local('../fonts/Gilroy-Medium'), local('Gilroy-Medium'),
	url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Medium.woff') format('woff'),
	url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('../fonts/GilroyRegular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.eot');
	src: local('../fonts/Gilroy-Light'), local('Gilroy-Light'),
	url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Light.woff') format('woff'),
	url('../fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-UltraLight.eot');
	src: local('../fonts/Gilroy-UltraLight'), local('Gilroy-UltraLight'),
	url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-UltraLight.woff') format('woff'),
	url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Thin.eot');
	src: local('../fonts/Gilroy-Thin'), local('Gilroy-Thin'),
	url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Thin.woff') format('woff'),
	url('../fonts/Gilroy-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}


/* styles */
body {
	min-width: 320px;
	background: #fff;
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
	cursor: default;
}

header, section, footer {
	margin: 0 auto;
	max-width: 1920px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 980px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: 700;
}

/*form*/
.m1-form{

}
.m1-form input{
	border: none;
	background: #f2f2f2;
	width: 100%;
	height: 60px;
	font-size: 17px;
	font-family: 'Gilroy', sans-serif;
	color: #333;
	border-radius: 8px;
	margin-bottom: 10px;
	text-align: center;
}
.m1-form ::-webkit-input-placeholder {
	color: #333;
}
.m1-form ::-moz-placeholder {
	color: #333;
}
.m1-form :-moz-placeholder {
	color: #333;
}
.m1-form :-ms-input-placeholder {
	color: #333;
}
.m1-form :focus::-webkit-input-placeholder {
	color: transparent;
}
.m1-form :focus::-moz-placeholder {
	color: transparent;
}
.m1-form :focus:-moz-placeholder {
	color: transparent;
}
.m1-form :focus:-ms-input-placeholder {
	color: transparent;
}

/*timer*/
.timer{
}
.timer h3{
	font-size: 16px;
	line-height: 1.2em;
	font-weight: 500;
	text-align: center;
	margin: 0 0 10px;
	color: #000;
}
.timer_cont{
}
.timer .timer_item{
	width: 33.3%;
	float: left;
}
.timer_item .count_block{
	width: 68px;
	padding: 6px 0 10px;
	background: #32384e;
	margin: 0px auto;
	position: relative;
	border-radius: 8px;
}
.timer_item .count_block:after{
	content: ':';
	color: #000;
	font-size: 36px;
	font-weight: 500;
	line-height: 30px;
	position: absolute;
	right: -16px;
	top: 14px;
}
.timer_item:last-child .count_block:after{
	display: none;
}
.count_block .count{
	color: #fff;
	font-weight: 500;
	font-size: 40px;
	line-height: 36px;
	text-align: center;
}
.count_block .text{
	text-align: center;
	font-size: 14px;
	line-height: 12px;
	color: #fff;
}

/* button */
.button-m {
	border: none;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 70px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fcc756;
	background: -moz-linear-gradient(top, #fcc756 0%, #e6b13e 100%);
	background: -webkit-linear-gradient(top, #fcc756 0%,#e6b13e 100%);
	background: linear-gradient(to bottom, #fcc756 0%,#e6b13e 100%);
	font-family: 'Gilroy', sans-serif;
	font-weight: 900;
	font-size: 22px;
	line-height: 68px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}
.button-m:hover {
	background: -moz-linear-gradient(top, #e6b13e 0%, #fcc756 100%);
	background: -webkit-linear-gradient(top, #e6b13e 0%, #fcc756 100%);
	background: linear-gradient(to bottom, #e6b13e 0%, #fcc756 100%);
}
.button-m:active{
	top: 2px;
}

/* titles */
h2.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.2em;
	text-align: center;
	margin-bottom: 30px;
	color: #32384e;
}
h2.title>span{
	color: #000;
}



p.subtitle{
	text-align: center;
	margin: -20px 130px 30px;
	font-size: 18px;
}

section{
	padding: 40px 0 30px;
}
.color_bg{
	background: #714288 url(../img/color_bg.jpg) 50% 0%;
	color: #fff;
}
.color_bg .title{
	color: #fff;
}

/*offer_sect*/
.offer_section{
	background: #edd5cc url(../img/offer_bg.jpg) 50% 100% no-repeat;
	height: 790px;
	padding: 40px 0 0;
}
.offer_section .wrapper{
	position: relative;
	height: 100%;
	padding: 0 250px 0 10px;
}
.ofr_sect .sale{
	width: 142px;
	height: 143px;
	background: url(../img/sale.png);
	position: absolute;
	text-align: center;
	font-size: 26px;
	line-height: 24px;
	color: #fff;
}
.offer_section .sale{
	top: 437px;
	left: 440px;
}
.ofr_sect .sale>b{
	transform: rotate(12deg);
	position: absolute;
	font-weight: 500;
	top: 36px;
	left: 20px;
}
.ofr_sect .sale span{
	display: block;
	font-size: 43px;
	line-height: 40px;
	font-weight: 900;
}
.title_block{
	background: rgb(113,66,136);
	background: -moz-linear-gradient(left, rgba(113,66,136,1) 0%, rgba(141,94,164,1) 70%);
	background: -webkit-linear-gradient(left, rgba(113,66,136,1) 0%,rgba(141,94,164,1) 70%);
	background: linear-gradient(to right, rgba(113,66,136,1) 0%,rgba(141,94,164,1) 70%);
	border-radius: 12px;
	padding: 20px 0;
	position: relative;
}
.title_block:after{
	content: '';
	width: 53px;
	height: 27px;
	background: url(../img/title_block.png) 50% 50% no-repeat;
	position: absolute;
	bottom: -27px;
	right: 100px;
}
.main_title{
	color: #fdffdc;
	font-size: 35px;
	line-height: 1.1em;
	text-transform: uppercase;
	text-align: center;
}
.main_subtitle{
	color: #fff;
	font-size: 30px;
	line-height: 1.1em;
	text-align: center;
	font-weight: 500;
	letter-spacing: 2px;
}
.action_block{
	width: 440px;
	margin: 20px 0 0;
}
.main_subtitle2{
	font-size: 32px;
	line-height: 1.1;
	color: #32384e;
	text-align: center;
}

.offer_bull{
	margin: 20px 0 0 0;
}
.offer_bull>li{
	background: rgba(255,255,255,0.4) url(../img/offer_icon.png) 14px 50% no-repeat;
	color: #32384e;
	font-size: 20px;
	line-height: 1.1em;
	padding: 20px 0 20px 72px;
	margin-bottom: 12px;
	border-radius: 10px;
}
.offer_bull>li:last-child{
	margin-bottom: 0;
}
.offer_section .price{
	margin-top: 15px;
	text-align: center;
}
.offer_section .price .old{
	font-size: 24px;
	line-height: 1.2em;
	color: #32384e;
	font-weight: 500;
	text-decoration: line-through;
}
.offer_section .price .new{
	font-size: 32px;
	line-height: 1.1em;
	color: #714288;
	font-weight: 700;
}
.offer_section .timer{
	padding: 0 80px;
	margin-top: 15px;
}
.offer_section .button-m{
	margin-top: 22px;
}


/*sect2*/
.sect2{
	background: #fff url(../img/s2_bg.jpg) 50% 0% no-repeat;
	min-height: 471px;
	padding: 90px 0 0;
}
.sect2 .wrapper{
	padding: 0 0 0 435px;
}
.sect2 .title{
	text-align: left;
}
.sect2 .wrapper>p{
	font-size: 19px;
	line-height: 1.3em;
}



/*sect3*/
.sect3{
	background: url(../img/s3_bg_top.jpg) 50% 0% no-repeat, url(../img/s3_bg_bottom.jpg) 50% 100% no-repeat, #fff;
	min-height: 521px;
}
.sect3 .title{
	margin-bottom: 70px;
}
.list_3{
	font-size: 0;
	letter-spacing: -1px;
}
.list_3>li{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	font-size: 16px;
	padding: 0 20px;
	text-align: center;
}
.list_3>li>img{
	border-radius: 50%;
	display: inline-block;
	margin: 0px auto 20px;
}
.list_3>li>h4{
	color: #32384e;
	font-size: 19px;
	margin-bottom: 8px;
}
.list_3>li>p{
	line-height: 1.3em;
}


/*sect4*/
.sect4{
	background: url(../img/s4_bg.jpg) 50% 0% no-repeat;
	min-height: 710px;
	padding: 130px 0 0;
}
.sect4 .content>img{
	float: right;
}
.sect4 .title{
	margin-bottom: 50px;
}
.sect4 .content .text{
	padding: 0 501px 0 0;
}
.sect4 .text>p{
	background: rgba(255,255,255,0.8);
	border-radius: 10px 0 0 10px;
	padding: 8px 15px;
	margin-bottom: 30px;
	font-size: 17px;
	line-height: 1.3em;
}
.sect4 .button-m{
	margin-top: 60px;
}



/*sect5*/
.sect5{
	padding: 60px 0;
}
.sect5 .wrapper{
	position: relative;
	padding: 30px 0 0 430px;
}
.sect5 .wrapper>img{
	position: absolute;
	top: 0;
	left: 0px;
}
.sect5 .title{
	margin-bottom: 40px;
}
.sect5 .wrapper>p{
	font-size: 19px;
	line-height: 1.3em;
	text-align: center;
	margin-bottom: 20px;
}


/*sect6*/
.sect6{
	padding-bottom: 50px;
}
.sect6 p.subtitle{
	margin-bottom: 60px;
}
.sect6 .list_3>li{
	padding: 0 40px;
}
.sect6 .list_3>li .info{
	width: 144px;
	height: 144px;
	border-radius: 50%;
	background: #fff;
	margin: 0px auto 20px;
	color: #714288;
	padding: 38px 0 0;
	text-align: center;
	font-size: 21px;
}
.sect6 .list_3>li .info>span{
	display: block;
	font-weight: 900;
	font-size: 49px;
	line-height: 45px;
}

/*sect7*/
.sect7{
	background: #fff url(../img/s7_bg.jpg) 50% 0% no-repeat;
	min-height: 385px;
}
.sect7 .wrapper>p{
	font-size: 23px;
	line-height: 1.3em;
	text-align: center;
	margin: 0 0 30px;
}
.sect7 .wrapper>p>span{
	display: block;
	color: #32384e;
	font-weight: 700;
}
.sect7 .content{
	padding: 0 310px;
}
.sect7 .timer .timer_cont{
	padding: 0 30px;
}
.sect7 .timer h3{
	font-weight: 700;
}
.sect7 .button-m{
	margin-top: 40px;
}


/*sect8*/
.sect8{
	padding: 50px 0;
}
.sect8 .title{
	margin-bottom: 70px;
}
.sect8 .wrapper{
	position: relative;
}
.sect8 .wrapper>img{
	position: absolute;
	left: 50%;
	top: 75px;
	margin: 0 0 0 -101px;
	z-index: -1;
}
.list_2{
	font-size: 0;
	letter-spacing: -1px;
	text-align: justify;
	-ms-text-align-last: justify;
	text-align-last: justify;
	padding: 0 20px;
}
.list_2>li{
	width: 320px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	-ms-text-align-last: center;
	text-align-last: center;
	letter-spacing: normal;
	font-size: 18px;
	position: relative;
}
.list_2>li>img{
	display: block;
	border-radius: 50%;
	margin: 0px auto 40px;
	border: 6px solid #f9f8f8;
	-webkit-box-shadow: 4px 3px 1px 0px rgba(219,219,219,1);
	-moz-box-shadow: 4px 3px 1px 0px rgba(219,219,219,1);
	box-shadow: 4px 3px 1px 0px rgba(219,219,219,1);
}
.list_2>li:nth-child(1):after{
	content: '';
	border-bottom: dotted 3px #ff1f1f;
	height: 1px;
	width: 150px;
	position: absolute;
	top: 215px;
	right: -65px;
	transform: rotate(30deg);
}
.list_2>li:nth-child(2):after{
	content: '';
	border-bottom: dotted 3px #ff1f1f;
	height: 1px;
	width: 200px;
	position: absolute;
	top: 145px;
	left: -144px;
	transform: rotate(-11deg);
}


/*sect9*/
.sect9{
	padding-bottom: 50px;
}
.sect9 .title{
	font-size: 27px;
	margin-bottom: 50px;
}
.list_4{
	font-size: 0;
	letter-spacing: -1px;
}
.list_4>li{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
	letter-spacing: normal;
	font-size: 17px;
	line-height: 1.3em;
	text-align: center;
}
.list_4>li>img{
	display: block;
	margin: 0px auto 20px;
}
.list_4>li>h4{
	font-weight: 700;
	font-size: 21px;
	margin-bottom: 8px;
}
.sect9 .list_4>li>img{
	border-radius: 8px;
}


/*sect10*/
.sect10{
	overflow: hidden;
	padding-bottom: 45px;
}
.sect10 .title{
	margin-bottom: 50px;
}
.sect10 .list_4{
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.07) 10%, rgba(255,255,255,0.07) 90%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.07) 10%,rgba(255,255,255,0.07) 90%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.07) 10%,rgba(255,255,255,0.07) 90%,rgba(255,255,255,0) 100%);
	padding: 40px 95px 45px;
	width: 1150px;
	margin: 0 0 0 -95px;
}

.sect10 .list_4>li{
	padding: 0 15px;
}
.sect10 .list_4>li:before{
	content: '';
	height: 88px;
	display: block;
	margin: 0px auto 30px;
}
.sect10 .list_4>li:nth-child(1):before{
	background: url(../img/s10_icon1.png) 50% 50% no-repeat;
}
.sect10 .list_4>li:nth-child(2):before{
	background: url(../img/s10_icon2.png) 50% 50% no-repeat;
}
.sect10 .list_4>li:nth-child(3):before{
	background: url(../img/s10_icon3.png) 50% 50% no-repeat;
}
.sect10 .list_4>li:nth-child(4):before{
	background: url(../img/s10_icon4.png) 50% 50% no-repeat;
}
.sect10 .alert{
	margin: 42px 20px 0;
	text-align: center;
	font-size: 20px;
}


/*sect11*/
.sect11{
	background: #f8f8f8;
	padding: 50px 0;
}
.sect11 .title{
	margin-bottom: 50px;
}
.sect11 .wrapper{
	padding: 0;
}
.rev_item{
	width: 305px;
	margin: 0px auto;
	padding: 30px 15px 35px;
	background: #fff;
	border-radius: 6px;
	border-top: 5px solid #714288;
	border-right: 3px solid #d5d5d5;
	border-bottom: 4px solid #d5d5d5;
}
.rev_item .info{
	margin-bottom: 18px;
}
.rev_item .info>img{
	border-radius: 50%;
	float: left;
	width: 87px;
}
.rev_item .info .text{
	padding: 20px 0 0 100px;
	font-size: 18px;
	font-weight: 500;
}
.rev_item .info .text>span{
	display: block;
}
.rev_item>img{
	display: block;
	margin: 0px auto 18px;
	border-radius: 10px;
}


.offer_item {
	margin: 0px auto;
	padding: 30px 15px 35px;
	background: #fff;
	border-radius: 6px;
	border-top: 5px solid #714288;
	border-right: 3px solid #d5d5d5;
	border-bottom: 4px solid #d5d5d5;
}


/*sect12*/
.sect12{
	background: #fff;
	padding-bottom: 50px;
}
.sect12 .title{
	margin-bottom: 60px;
}


/*offer_bottom*/
.offer_bottom{
	padding: 20px 0;
	background: #efe1de url(../img/offer_bottom.jpg) 50% 0% no-repeat;
	min-height: 558px;
}
.offer_bottom .wrapper{
	position: relative;
}
.offer_bottom .sale{
	top: 300px;
	left: 760px;
}
.offer_bottom h2{
	font-weight: 700;
	text-align: center;
	font-size: 29px;
	line-height: 1.1em;
	text-transform: uppercase;
	color: #32384e;
}
.offer_bottom h2>span{
	display: block;
	font-weight: 900;
	font-size: 33px;
	line-height: 1.2em;
}
.formbox{
	background: #714288;
	border-radius: 12px;
	display: block;
	width: 370px;
	margin: 30px auto 0;
	padding: 15px 35px 20px;
}
.formbox .button-m{
	color: #714288;
	width: 100%;
	text-shadow: none;
}
.formbox .timer h3{
	color: #fff000;
}
.formbox .timer{
	padding: 0 12px;
	margin-bottom: 15px;
}
.formbox .price{
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
}
.formbox .price>div{
	display: inline-block;
	vertical-align: top;
	margin: 0 8px;
}
.formbox .price span{
	font-size: 14px;
}
.formbox .price .old p{
	font-size: 30px;
	line-height: 20px;
	text-decoration: line-through;
	font-weight: 500;
}
.formbox .price .new p{
	font-weight: 900;
	font-size: 49px;
	line-height: 48px;
	margin: 3px 0 0;
}

/*footer*/
.footer_section {
	background: #fff;
	padding: 25px 0;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}
.footer_section a {
	color: #333;
	display: block;
}
.footer_section a:hover {
	text-decoration: none;
}


.slider_arrow{
	text-align: center;
	margin-top: 32px;
	display: none;
}
.sl-next,
.sl-prev{
	height: 69px;
	width: 69px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px;
	background: #734489;
	cursor: pointer;
}
.sl-prev{
	background: #734489 url(../img/rev_arrow.png) 0% 50% no-repeat;
}
.sl-next{
	background: #734489 url(../img/rev_arrow.png) 100% 50% no-repeat;
}





@media screen and (max-width: 979px) {
	.wrapper{
		width: 660px;
	}
	section{
		padding: 30px 0;
	}
	h2.title{
		font-size: 30px;
		line-height: 1.3em;
	}
	.offer_section{
		background: #f0d9d1 url(../img/offer_bg_tablets.jpg) 50% 0% no-repeat;
		height: auto;
		padding-bottom: 30px;
	}
	.offer_section .wrapper{
		padding: 0 10px;
	}
	.offer_section .sale{
		top: 430px;
		left: 50px;
	}
	.main_title{
		font-size: 31px;
	}
	.main_subtitle{
		font-size: 27px;
		letter-spacing: 1.5px;
	}
	.title_block:after{
		right: 30px;
	}
	.action_block{
		margin: 605px auto 0;
	}
	.sect2{
		background: url(../img/s2_bg_tablets.jpg) 50% 0% no-repeat;
		padding: 40px 0 0;
		min-height: 326px;
		text-align: center;
	}
	.sect2 .wrapper{
		padding: 0 10px;
	}
	.sect2 .title{
		text-align: center;
	}
	.sect3{
		background: url(../img/s3_bg_top_tablets.jpg) 50% 0% no-repeat, url(../img/s3_bg_bottom_tablets.jpg) 50% 100% no-repeat, #fff;
		padding: 60px 0;
	}
	.sect3 .title{
		margin-bottom: 50px;
	}
	.list_3 > li{
		width: 100%;
		display: block;
		margin-bottom: 40px;
	}
	.list_3 > li:last-child{
		margin-bottom: 0;
	}
	.sect4{
		background: #fdeffc url(../img/s4_bg_tablets.jpg) 50% 0% no-repeat;
		padding: 40px 0 30px;
		min-height: auto;
	}
	.sect4 .title{
		margin-bottom: 30px;
	}
	.sect4 .content > img{
		float: none;
		display: block;
		margin: 0px auto 30px;
	}
	.sect4 .content .text{
		padding: 0;
	}
	.sect4 .text > p{
		padding: 15px;
		border-radius: 0;
	}
	.sect4 .button-m{
		margin-top: 30px;
	}
	.sect5{
		padding: 30px 0;
	}
	.sect5 .wrapper{
		padding: 0 10px;
		position: static;
	}
	.sect5 .wrapper > img{
		position: static;
		display: block;
		margin: 0 auto 30px;
	}
	.sect6 p.subtitle{
		margin: -20px 60px 60px;
	}
	.sect7{
		background: #fff url(../img/s7_bg_tablets.jpg) 50% 0% no-repeat;
		min-height: 365px;
		padding-bottom: 0;
	}
	.sect7 .wrapper > p > span{
		display: inline;
	}
	.sect7 .timer h3{
		font-size: 22px;
		margin-bottom: 20px;
	}
	.sect7 .content{
		padding: 0;
	}
	.sect7 .timer .timer_cont{
		padding: 0 182px;
	}
	.sect8 .list_2{
		padding-top: 40px;
	}
	.sect8 .list_2 > li{
		width: 50%;
	}
	.sect8 .wrapper > img{
		top: 60px;
	}
	.sect8 .list_2 > li > img{
		width: 180px;
		margin: 0 0 190px;
	}
	.sect8 .list_2 > li:nth-child(2) img{
		margin-left: 120px;
	}
	.sect8 .list_2 > li > p{
		padding: 0 10px;
		font-size: 17px;
	}
	.sect9{
		padding: 0 0 20px;
	}
	.list_2 > li:nth-child(1)::after{
		top: 160px;
		right: 80px;
		width: 70px;
	}
	.list_2 > li:nth-child(2)::after{
		top: 100px;
		left: 0;
		width: 128px;
	}
	.list_4 > li{
		width: 50%;
		margin-bottom: 30px;
	}
	.sect10 .list_4{
		width: 660px;
		margin-left: -10px;
		padding: 40px 0 45px;
	}
	.sect10 .list_4 > li{
		padding-top: 0 40px;
	}
	.rev_item{
		margin: 0px 20px;
		opacity: 0.5;
		transition: 0.4s;
	}
	.reviews .slick-active .rev_item{
		opacity: 1;
	}
	.sect11 .wrapper{
		width: 100%;
	}
	.slider_arrow{
		display: block;
	}
	.sect12 .list_4 > li{
		width: 100%;
	}
	.sect12 .list_4 > li:last-child{
		margin-bottom: 0;
	}
	.offer_bottom{
		background: #efe1de url(../img/offer_bottom_tablets.jpg) 50% 0% no-repeat;
		min-height: auto;
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.offer_bottom h2{
		font-size: 26px;
	}
	.offer_bottom h2 > span{
		font-size: 30px;
	}
	.formbox{
		margin: 495px auto 0;
	}
	.offer_bottom .sale{
		top: 360px;
		left: 220px;
	}
}












@media screen and (max-width: 659px) {
	section{
		padding-top: 25px;
	}
	.wrapper{
		width: 320px;
	}
	h2.title{
		font-size: 28px;
		line-height: 1.1em;
	}
	.offer_section{
		background: #edd4ce url(../img/offer_bg_mobile.jpg) 50% 0% no-repeat;
		padding-bottom: 35px;
		padding-top: 20px;
	}
	.main_title{
		font-size: 24px;
		margin-bottom: 4px;
	}
	.main_subtitle{
		font-size: 21px;
	}
	.title_block{
		padding: 20px 15px;
	}
	.ofr_sect .sale{
		width: 100px;
		height: 100px;
		background-size: 100%;
		font-size: 16px;
		line-height: 20px;
	}
	.ofr_sect .sale span{
		font-size: 27px;
		line-height: 27px;
	}
	.ofr_sect .sale > b{
		top: 26px;
		left: 19px;
	}
	.offer_section .sale{
		left: 0;
		top: 290px;
	}
	.action_block{
		margin: 410px auto 0;
		width: 100%;
	}
	.main_subtitle2{
		font-size: 26px;
	}
	.offer_bull > li{
		padding-right: 20px;
	}
	.title_block:after{
		right: 80px;
	}
	.offer_section .timer{
		padding: 0 15px;
	}
	.sect2{
		background: #fef3fe url(../img/s2_bg_mobile_btm.jpg) 50% 100% no-repeat;
		padding-bottom: 35px;
	}
	.sect2 .wrapper > p{
		font-size: 18px;
	}
	.sect3 {
    background: url(../img/s3_bg_top_mobile.jpg) 50% 0% no-repeat, url(../img/s3_bg_bottom_mobile.jpg) 50% 100% no-repeat, #fff;
    padding: 50px 0 150px;
	}
	.sect4 .text > p{
		text-align: center;
	}
	.sect5 .wrapper > p{
		font-size: 18px;
	}
	.sect6 p.subtitle{
		margin: -15px 0 50px;
	}
	.sect6 .list_3 > li{
		padding: 0;
	}
	.list_3 > li > p{
		font-size: 18px;
	}
	.sect7{
		background: #fef5fe url(../img/s7_bg_mobile.jpg) 50% 0% no-repeat;
		padding-top: 320px;
		min-height: 1000px;
	}
	.sect7 .wrapper > p{
		font-size: 20px;
		line-height: 1.2em;
	}
	.sect7 .timer .timer_cont{
		padding: 0 15px;
	}
	.sect7 .timer h3{
		font-size: 20px;
	}
	.sect8{
		padding: 40px 0;
	}
	.sect8 .wrapper > img{
		position: static;
		display: block;
		margin: 0px auto;
	}
	.sect8 .title{
		margin-bottom: 25px;
	}
	.sect8 .list_2{
		padding: 20px 0 0;
	}
	.sect8 .list_2 > li{
		width: 100%;
		display: block;
		margin-bottom: 30px;
	}
	.sect8 .list_2 > li:last-child{
		margin-bottom: 0;
	}
	.sect8 .list_2 > li > img,
	.sect8 .list_2 > li:nth-child(2) img{
		margin: 0px auto 15px;
	}
	.list_2 > li:after{
		display: none;
	}
	.sect9 .title{
		margin-bottom: 40px;
	}
	.list_4 > li{
		width: 100%;
		display: block;
	}
	.color_bg{
		background: rgb(115,68,137);
    background: -moz-linear-gradient(-45deg, rgba(115,68,137,1) 0%, rgba(119,71,138,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(115,68,137,1) 0%,rgba(119,71,138,1) 100%);
    background: linear-gradient(135deg, rgba(115,68,137,1) 0%,rgba(119,71,138,1) 100%);
	}
	.sect10 .list_4{
		width: 320px;
	}
	.sect10 .list_4 > li{
		padding: 0 40px;
		margin-bottom: 30px;
	}
	.sect10 .list_4 > li:last-child{
		margin-bottom: 0;
	}
	.list_4 > li > h4{
		margin-bottom: 3px;
	}
	.sect10 .alert{
		margin: 40px 0 0;
	}
	.offer_bottom{
		background: #efe1de url(../img/offer_bottom_mobile.jpg) 50% 0% no-repeat;
		padding: 30px 0;
	}
	.offer_bottom h2 > span{
		font-size: 28px;
	}
	.formbox{
		margin: 510px 0 0 -10px;
		width: 320px;
		padding: 15px 10px 20px;
	}
	.offer_bottom .sale{
		top: 430px;
		left: 100px;
	}
}

